<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Allergy Prediction App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="{{ url_for('about') }}">About Me</a>
            <a href="{{ url_for('allergyPredictor') }}">Allergy Predictor</a>
            <a href="{{ url_for('resume') }}">Resume</a>
            <a href="{{ url_for('projects') }}">Projects</a>
        </div>
        {% block header %}{% endblock %}
    </header>

    <section class="content-wrapper">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>