{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>My Projects</h1>

<h2>
    <a href="https://www.youtube.com/watch?v=jwueAid_ZG8" 
       target="_blank" 
       style="text-decoration: none; color: inherit;"
       onmouseover="this.style.color='lightgray';" 
       onmouseout="this.style.color='inherit';">
        Ethics Video Project
    </a>
</h2>
<p>How AI Impacts Recruitment - DTSC 690 </p>

<h2>
    <a href="https://github.com/Ehalfinger" 
       target="_blank" 
       style="text-decoration: none; color: inherit;"
       onmouseover="this.style.color='lightgray';" 
       onmouseout="this.style.color='inherit';">
        Github
    </a>
</h2>
{% endblock %}