{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <img src="{{ url_for('static', filename='images/hungary_picture.jpg') }}" alt="Photo of Me" class="hungary-picture">
    <h2>Welcome to my project!</h2>
    <p>Hi! My legal first name is Hanna, but I go by my middle name, Emilia.</p>
    <p>
        I’m originally from Hungary. I immigrated to the U.S. when I was almost two, and
        grew up in New Hampshire, where I still live today. I have two older brothers as well as two younger sisters—whom were born here.
    </p>
    <p>
        I completed my Bachelor's of Science in Business Administration last year, with a concentration in Marketing, and am excited to be now finishing up my Master's in Data Science! 
        Once I graduate, I aspire to work as a data scientist in a hybrid remote role, where I can hopefully combine the technical skills I've learned with my creative thinking to make a positive impact.
    </p>
    <p>
        Beyond my academic and professional pursuits, I enjoy expressing my creativity through arts and crafts like drawing, painting, and crocheting. 
        I also love reading and writing, and do competitive gymnastics, which I train for 12 hours a week.
    </p>
    <p>
        Feel free to look around and explore the other pages of my project to see more!
    </p>
{% endblock %}