{% extends 'base.html' %}

{% block title %}Allergy Risk Predictor{% endblock %}

{% block content %}
    <h1>Allergy Risk Predictor</h1>
    <p>
        Allergies are a common health issue that affects billions worldwide, with about 1 in 3 adults in the U.S. experiencing allergies. 
        Similar trends are observed globally, and reports indicate that the prevalence of food allergies in children increased by 50% between 1997 and 2011 ("Allergies, 2023"). 
        Approximately 30–40% of the world's population now suffers from some form of allergy (Davies, 2023).
    </p>
    <p>
        This project leverages data collected through the European Social Survey, an international study conducted in 2023. 
        The survey included over 22,000 participants across 31 European countries and involved hour-long face-to-face interviews. 
        Using this comprehensive dataset, we trained a machine learning model to analyze lifestyle and socioeconomic factors to predict the likelihood of developing or currently having allergies.
    </p>
    <p>
        Our approach examines patterns in various factors such as diet, exercise, and living environment to better understand how these contribute to allergy risks. 
        This model can help raise awareness of these contributing factors and empower individuals to take preventative actions.
    </p>
    
    <h2>How to Use This Tool</h2>
    <p>
        To use this tool, fill out the form below with information about your lifestyle and socioeconomic background. 
        Based on the inputs you provide, the model will calculate a percentage likelihood of having allergies. 
    </p>

<div class="form-container">
    <form class="form-horizontal" action="/predict" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="health">How would you describe your health in general?</label>
            <div class="col-sm-4">
                <select class="form-control" id="health" name="health">
                    <option value="">Choose an option</option>
                    <option value="1">Very good</option>
                    <option value="2">Good</option>
                    <option value="3">Fair</option>
                    <option value="4">Bad</option>
                    <option value="5">Very bad</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="happy">How happy would you say you are in general? 1 being extremely unhappy, and 10 being extremely happy</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="happy" name="happy" min="1" max="10" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="rlgdgr">Regardless of whether you belong to a religion, how religious would you say you are? 0 being not religious at all, and 10 being very religious</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="rlgdgr" name="rlgdgr" min="1" max="10" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="eatveg">How often do you eat vegetables or salads (excluding potatoes)?</label>
            <div class="col-sm-4">
                <select class="form-control" id="eatveg" name="eatveg">
                    <option value="">Choose an option</option>
                    <option value="1">Three times or more a day</option>
                    <option value="2">Twice a day</option>
                    <option value="3">Once a day</option>
                    <option value="4">Less than once a day but at least 4 times a week</option>
                    <option value="5">Less than 4 times a week but at least once a week</option>
                    <option value="6">Less than once a week</option>
                    <option value="7">Never</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dosprt">How many days a week do you do sports? (1-7)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="dosprt" name="dosprt" min="1" max="7" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="alcfreq">In the last 12 months, how often have you had a drink containing alcohol?</label>
            <div class="col-sm-4">
                <select class="form-control" id="alcfreq" name="alcfreq" required>
                    <option value="">Choose an option</option>
                    <option value="1">Every day</option>
                    <option value="2">Several times a week</option>
                    <option value="3">Once a week</option>
                    <option value="4">2-3 times a month</option>
                    <option value="5">Once a month</option>
                    <option value="6">Less than once a month</option>
                    <option value="7">Never</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="alcbnge">In the last 12 months, how often have you drank to the point of feeling intoxicated?</label>
            <div class="col-sm-4">
                <select class="form-control" id="alcbnge" name="alcbnge" required>
                    <option value="">Choose an option</option>
                    <option value="1">Daily or almost daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Monthly</option>
                    <option value="4">Less than monthly</option>
                    <option value="5">Never</option>
                </select>
            </div>
        </div>
              
        <div class="form-group row">
            <label class="control-label col-sm-2" for="cgtsmok">Which of the following best describes your smoking habits?</label>
            <div class="col-sm-4">
                <select class="form-control" id="cgtsmok" name="cgtsmok" required>
                    <option value="">Choose an option</option>
                    <option value="1">I smoke daily, 10 or more cigarettes</option>
                    <option value="2">I smoke daily, 9 or fewer cigarettes</option>
                    <option value="3">I smoke but not every day</option>
                    <option value="4">I don't smoke now but I used to</option>
                    <option value="5">I have only smoked a few times</option>
                    <option value="6">I have never smoked</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="domicil">Which of the following best describes the area where you live?</label>
            <div class="col-sm-4">
                <select class="form-control" id="domicil" name="domicil" required>
                    <option value="">Choose an option</option>
                    <option value="1">A big city</option>
                    <option value="2">Suburbs or outskirts of a big city</option>
                    <option value="3">Town or small city</option>
                    <option value="4">Country village</option>
                    <option value="5">Farm or home in countryside</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="chldhhe">Have you ever had any children of your own, step-children, adopted children, foster children, or a partner's child living in your household?
            </label>
            <div class="col-sm-4">
                <select class="form-control" id="chldhhe" name="chldhhe" required>
                    <option value="">Choose an option</option>
                    <option value="2">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="fnsdfml">How often did you or your family experience severe financial difficulties when you were growing up?</label>
            <div class="col-sm-4">
                <select class="form-control" id="fnsdfml" name="fnsdfml" required>
                    <option value="">Choose an option</option>
                    <option value="1">Always</option>
                    <option value="2">Often</option>
                    <option value="3">Sometimes</option>
                    <option value="4">Hardly ever</option>
                    <option value="5">Never</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dshltms">Have you discussed your health with a medical professional in the last 12 months?</label>
            <div class="col-sm-4">
                <select class="form-control" id="dshltms" name="dshltms" required>
                    <option value="">Choose an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>

        <p>
            In the last 12 months, have you experienced any of the following health problems?
        </p>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="hltprhb">High blood pressure</label>
            <div class="col-sm-4">
                <select class="form-control" id="hltprhb" name="hltprhb" required>
                    <option value="">Choose an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-sm-2" for="hltprbp">Breathing problems</label>
            <div class="col-sm-4">
                <select class="form-control" id="hltprbp" name="hltprbp" required>
                    <option value="">Choose an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>
              
        <div class="form-group row">
            <label class="control-label col-sm-2" for="hltprbn">Back or neck pain</label>
            <div class="col-sm-4">
                <select class="form-control" id="hltprbn" name="hltprbn" required>
                    <option value="">Choose an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="hltprsc">Skin conditions</label>
            <div class="col-sm-4">
                <select class="form-control" id="hltprsc" name="hltprsc" required>
                    <option value="">Choose an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="hltprnt">If you have NOT experienced any of the above health problems, or the following:
                heart or circulation problems, muscular joint pain in arms, legs, hands or feet, stomach or digestion related issues,
            severe headaches, diabetes, or allergies, then select No. Otherwise, select Yes. </label>
            <div class="col-sm-4">
                <select class="form-control" id="hltprnt" name="hltprnt" required>
                    <option value="">Choose an option</option>
                    <option value="1">No</option>
                    <option value="0">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Get Allergy Risk Prediction</button>
            </div>
        </div>

    </form>
</div>

<h2 style="margin-top: 50px;">References</h2>
<ul class="references">
    <li>“Allergies Are Getting More Common. Playing in the Dirt Could Help.” Memorialhermann, 28 July 2023, memorialhermann.org/health-wellness/health/allergies-getting-more-common. </a>.</li>
    <li>Davies, Dave. “Why Our Allergies Are Getting Worse -and What to Do about It.” NPR, NPR, 30 May 2023, www.npr.org/sections/health-shots/2023/05/30/1178433166/theresa-macphail-allergic-allergies. </li>
</ul>
{% endblock %}