{% extends 'base.html' %}

{% block title %}Allergy Risk Prediction{% endblock %}

{% block content %}
    <h1>Allergy Risk Prediction</h1>
    <div class="row justify-content-md-center mb-4">
        {% if prediction %}
            <h3 class='text-primary'>According to our calculations, you have a {{ prediction }}% chance of developing or having allergies.</h3>
            <p>Our prediction is based on an analysis of the most important factors influencing allergy risk, the top 15 of which are shown below.</p>
            <p>
                Characteristics (also known as features) with higher importance contribute more significantly to the model's predictions. For example, 'hltprnt' has the greatest influence on determining allergy risk.
            <p>
            <div style="display: flex; justify-content: center; margin: 20px 0;">
                <img src="{{ url_for('static', filename='images/feature_importances.png') }}" alt="Feature Importances" class="img-fluid" style="max-width: 1000px;">
            </div>

            <!-- Feature Descriptions -->
            <h3>Feature Descriptions</h3>
            <div style="margin-left: 20px;">
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>hltprnt:</strong> Indicates whether the respondent has had specific health problems in the last 12 months.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>domicil:</strong> The type of area where the respondent lives (e.g., big city, countryside).</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>hltprbn:</strong> Back or neck pain reported by the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>alcfreq:</strong> Frequency of alcohol consumption in the last 12 months.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>dosprt:</strong> Days per week the respondent engages in sports activities.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>alcbnge:</strong> Frequency of binge drinking in the last 12 months.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>hltprsc:</strong> Presence of skin conditions reported by the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>cgtsmok:</strong> Smoking habits of the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>health:</strong> General health status of the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>dshltms:</strong> Whether health was discussed with a medical professional in the last 12 months.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>hltprsd:</strong> Stomach or digestion-related issues reported by the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>fnsdfml:</strong> Frequency of financial difficulties during childhood.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>happy:</strong> General happiness level of the respondent (scale of 1 to 10).</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>hltprhb:</strong> High blood pressure reported by the respondent.</p>
                <p style="margin-bottom: 5px; line-height: 1.4;"><strong>eatveg:</strong> Frequency of vegetable consumption.</p>
            </div>
        {% elif message %}
            <h3 class='text-danger'>{{ message }}</h3>
        {% endif %}
    </div>
{% endblock %}